@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAF6ED;
  color: #5C5043;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
